# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

*.egg-info/
.eggs/
dist/
build/

# ------------------------------
# Node
# ------------------------------
node_modules/
dist/
coverage/

# ------------------------------
# Environment
# ------------------------------
.env
.env.*
!.env.example

# ------------------------------
# IDEs
# ------------------------------
.vscode/
.idea/

# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Docker
# ------------------------------
postgres_data/

# ------------------------------
# Misc
# ------------------------------
*.swp
*.swo